.deny-3nAuT6 {
  color: #F04747;
}
.deny-3nAuT6:hover {
  background: #F04747 !important;
   color: white;
}
.deny-3nAuT6.selected-2YhbGh {
  background: #F04747 !important;
}
.deny-3nAuT6.selected-2YhbGh:hover {
  background: #FF6660 !important;
}
.passthrough-1c2ewQ {
  color: #FAA61A;
}
.passthrough-1c2ewQ:hover {
  background: #FAA61A !important;
   color: white;
}
.passthrough-1c2ewQ.selected-2YhbGh {
  background: #FAA61A !important;
}
.passthrough-1c2ewQ.selected-2YhbGh:hover {
  background: #FFC23D !important;
}
.allow-1PzSY3 {
  color: #43B581;
}
.allow-1PzSY3:hover {
  background: #43B581 !important;
   color: white;
}
.allow-1PzSY3.selected-2YhbGh {
  background: #43B581 !important;
}
.allow-1PzSY3.selected-2YhbGh:hover {
  background: #61D09A !important;
}
.searchBar-3dMhjb {
   width: 28px;
   transition: width 0.1s ease-in-out;
}
.listItem-2P_4kh.mentioned .item-2hkk8m, .wrapper-21YSNc.mentioned .item-2hkk8m{
   background-color:rgb(240, 71, 71);
}
.icon-27yU2q,[src*="https://cdn.discordapp.com/avatars/"]{
   background: #7289da;
}
.compact-T3H92H .messageContent-2qWWxC {
   font-size: 0;
}
.compact-T3H92H .messageContent-2qWWxC::after {
   content: "Please switch to cozy mode. You can do this via Settings ➜ Appearance ➜ Message Display and click 'Cozy'";
   font-size: 16px;
}
.compact-T3H92H .username-1A8OIy {
   font-size: 0;
}
.compact-T3H92H .username-1A8OIy::after {
   content: "Clyde";
   color: #fff;
   font-size: 16px;
}
.compact-T3H92H .username-1A8OIy::before {
   content: 'BOT';
   color: #fff;
   background: #7289da;
   font-size: 10px;
   font-weight: 500;
   height: 1.28em;
   padding: 1px 4px;
   border-radius: 3px;
   line-height: 1.3;
   margin-left: 4px;
   margin-right: 3px;
}
.avatar-1BDn8e[src*="811770910624579584"] + h2 .username-1A8OIy::after, .avatar-3EQepX[data-user-id="811770910624579584"] + .headerInfo-30uryT .username-2b1r56, .avatar-3W3CeO[data-user-id="811770910624579584"] + .text-37NqbO .username-31C1TQ {
   content: 'Nicer Discord Creator';
   color: #fff;
   background: #7289da;
   display: inline-block;
   font-size: 10px;
   font-weight: 500;
   height: 1.28em;
   padding: 1px 4px;
   border-radius: 3px;
   line-height: 1.3;
   margin-left: 4px;
}
